<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p82.f1.n0.cdn.getcloudapp.com/items/YEuXB4Pj/725a5ca9-290c-406a-99ce-3f3aea2529ae.png?source=viewer&v=733bc8b84c6772f52aaef17de2a7035f);">
    <div class="container">
      <div class="card-product p-1 text-left" style="background-color:transparent;">
        <div>
          <h1 style="color:white;">Find your Team to raid with</h1>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs border-0" id="myTab" role="tablist" style="margin-bottom: 30px">
    <li class="nav-item">
      <a class="nav-link active" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="true">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Users</a>
    </li>
  </ul>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="team" role="tabpanel" aria-labelledby="team-tab">
    <div class="team-cards-grid container" style="margin-top: -30px">
    <% counter = 0 %>
      <% @teams.each do |team| %>

         
        <div class="p-3 background-gradient-purple mb-3">
          <div class="card-body d-flex card-inner"> <% old_color="#252830" %>
            <img src="<%= team.avatar %>" alt="<%= team.name %>" style="height:80px;width:80px;border-radius:50%;">
            <div class="ml-2">
              <p class="card-member-role">Final Fantasy XIV</p>
              <h5 class="card-inner-header"><%= link_to team.name, team_path(team) %></h5>
              <h6 class="card-subtitle text-muted mb-2"><i class="far fa-calendar"></i>
                <% schedule_image = ["https://p82.f1.n0.cdn.getcloudapp.com/items/P8uk622q/b82d1154-75bb-417b-804a-ac81125756f5.png?source=viewer&v=183e8b6eebbe0bda6043b1aa448e0845", "https://p82.f1.n0.cdn.getcloudapp.com/items/GGu6E75q/fbc8aab0-c3d2-46a4-b623-2512a8cdb545.png?source=viewer&v=36457909afbfe99044472904f0c916c5", "https://p82.f1.n0.cdn.getcloudapp.com/items/rRukNgzq/ff493556-96fb-4b30-9e69-dc6d6a540239.png?source=viewer&v=d2c8a5f3480208e5296a3ce2d3b79bc3"] %>
                <% sample = schedule_image.sample %>
                <% if sample == schedule_image[2] %>
                  <%= 3 %>
                 <% elsif sample == schedule_image[0] %>
                  <%= 5 %>
                <% else %>
                  <%= 4 %>
                <% end %>
                days / <i class="far fa-clock"></i>
                <% if sample == schedule_image[2] %>
                  <%= "20-24" %>
                <% elsif sample == schedule_image[1] %>
                  <%= "18-22" %>
                <% else %>
                  <%= "19-23" %>
                <% end %>
                h / <i class="far fa-user"></i> <%= team.invites.accepted.count %> player<% if team.invites.accepted.count > 1 %><%= "s" %><% end %></h6>
              <!-- <p class="card-text text-dark">CORE HOURS</p> -->
              <img src="<%= sample %>" alt="Schedule" style="width:350px;">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
    <div class="tab-pane fade show active" id="team" role="tabpanel" aria-labelledby="team-tab">
      <div class="team-cards-grid container" style="margin-top: -30px">
        <% @users.each do |user| %>
          <div class="p-3 background-gradient-orange mb-3">
            <div class="card-body d-flex card-inner">
              <img src="<%= user.avatar %>" alt="<%= user.username %>" style="height:80px;width:80px;border-radius:50%;">
              <div class="ml-2">
                <p class="card-member-role"><%= user.role %></p>
                <h5 class="card-title"><%= link_to user.username, user_path(user) %>
                 <!--  <a href="<%= user.discord %> " style="color: Mediumslateblue;">
                    <i class="fab fa-discord fa-fw"></i></a> -->
                </h5>
                <%# <h6 class="card-subtitle text-muted mb-2"><%= user.bio %>
                <h6 class="card-subtitle text-muted mb-2"><i class="far fa-calendar"></i>
                <% schedule_image = ["https://p82.f1.n0.cdn.getcloudapp.com/items/P8uk622q/b82d1154-75bb-417b-804a-ac81125756f5.png?source=viewer&v=183e8b6eebbe0bda6043b1aa448e0845", "https://p82.f1.n0.cdn.getcloudapp.com/items/GGu6E75q/fbc8aab0-c3d2-46a4-b623-2512a8cdb545.png?source=viewer&v=36457909afbfe99044472904f0c916c5", "https://p82.f1.n0.cdn.getcloudapp.com/items/rRukNgzq/ff493556-96fb-4b30-9e69-dc6d6a540239.png?source=viewer&v=d2c8a5f3480208e5296a3ce2d3b79bc3"] %>
                <% sample = schedule_image.sample %>
                <% if sample == schedule_image[2] %>
                  <%= 3 %>
                 <% elsif sample == schedule_image[0] %>
                  <%= 5 %>
                <% else %>
                  <%= 4 %>
                <% end %>
                days / <i class="far fa-clock"></i>
                <% if sample == schedule_image[2] %>
                  <%= "20-24" %>
                <% elsif sample == schedule_image[1] %>
                  <%= "18-22" %>
                <% else %>
                  <%= "19-23" %>
                <% end %>
              </h6>
              <img src="<%= sample %>" alt="Schedule" style="width:350px;">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

<%= javascript_tag do %>

add onclick= “displayTeamSchedule” on each team card’s CARROT BUTTON.

function displayTeamSchedule () {

  if (event.currentTarget.classList.contains(“0”)) {
    let index = 0
  } else if (event.currentTarget.classList.contains(“1”)) {
    let index = 1
  } else if (event.currentTarget.classList.contains(“2”)) {
    let index = 2
  } else if (event.currentTarget.classList.contains(“3”)) {
    let index = 3
  } else if (event.currentTarget.classList.contains(“4”)) {
    let index = 4
  } else if (event.currentTarget.classList.contains(“5”)) {
    let index = 5
  } else if (event.currentTarget.classList.contains(“6”)) {
    let index = 6
  } else if (event.currentTarget.classList.contains(“7”)) {
    let index = 7
  }

<% @each_teams_members[ j index].each do |member| %>
    monday_start = "<%= j member.monday_start.to_s %>";
    monday_end = "<%= j member.monday_end.to_s %>";
    tuesday_start = "<%= j member.tuesday_start.to_s %>";
    tuesday_end = "<%= j member.tuesday_end.to_s %>";
    wednesday_start = "<%= j member.wednesday_start.to_s %>";
    wednesday_end = "<%= j member.wednesday_end.to_s %>";
    thursday_start = "<%= j member.thursday_start.to_s %>";
    thursday_end = "<%= j member.thursday_end.to_s %>";
    friday_start = "<%= j member.friday_start.to_s %>";
    friday_end = "<%= j member.friday_end.to_s %>";
    saturday_start = "<%= j member.saturday_start.to_s %>";
    saturday_end = "<%= j member.saturday_end.to_s %>";
    sunday_start = "<%= j member.sunday_start.to_s %>";
    sunday_end = "<%= j member.sunday_end.to_s %>";
    monday_s.push(monday_start)
    monday_e.push(monday_end)
    tuesday_s.push(tuesday_start)
    tuesday_e.push(tuesday_end)
    wednesday_s.push(wednesday_start)
    wednesday_e.push(wednesday_end)
    thursday_s.push(thursday_start)
    thursday_e.push(thursday_end)
    friday_s.push(friday_start)
    friday_e.push(friday_end)
    saturday_s.push(saturday_start)
    saturday_e.push(saturday_end)
    sunday_s.push(sunday_start)
    sunday_e.push(sunday_end)
  <% end %>
}
<% end %>