<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p82.f1.n0.cdn.getcloudapp.com/items/YEuXB4Pj/725a5ca9-290c-406a-99ce-3f3aea2529ae.png?source=viewer&v=733bc8b84c6772f52aaef17de2a7035f);">
    <div class="container">
      <div class="card-product p-1 text-left" style="background-color:transparent;">
        <div>
          <h1 style="color:white;">Find your Team to raid with</h1>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs border-0" id="myTab" role="tablist" style="margin-bottom: 30px">
    <li class="nav-item">
      <a class="nav-link active" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="true">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Users</a>
    </li>
  </ul>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="team" role="tabpanel" aria-labelledby="team-tab">
    <div class="team-cards-grid container" style="margin-top: -30px">
    <% counter = 0 %>
      <% @teams.each do |team| %>

         
        <div class="p-3 background-gradient-purple mb-3">
          <div class="card-body d-flex card-inner"> <% old_color="#252830" %>
            <img src="<%= team.avatar %>" alt="<%= team.name %>" style="height:80px;width:80px;border-radius:50%;">
            <div class="ml-2">
              <p class="card-member-role">Final Fantasy XIV</p>
              <h5 class="card-inner-header"><%= link_to team.name, team_path(team) %></h5>
              <h6 class="card-subtitle text-muted mb-2"><i class="far fa-calendar"></i>
                <% schedule_image = ["https://p82.f1.n0.cdn.getcloudapp.com/items/P8uk622q/b82d1154-75bb-417b-804a-ac81125756f5.png?source=viewer&v=183e8b6eebbe0bda6043b1aa448e0845", "https://p82.f1.n0.cdn.getcloudapp.com/items/GGu6E75q/fbc8aab0-c3d2-46a4-b623-2512a8cdb545.png?source=viewer&v=36457909afbfe99044472904f0c916c5", "https://p82.f1.n0.cdn.getcloudapp.com/items/rRukNgzq/ff493556-96fb-4b30-9e69-dc6d6a540239.png?source=viewer&v=d2c8a5f3480208e5296a3ce2d3b79bc3"] %>
                <% sample = schedule_image.sample %>
                <% if sample == schedule_image[2] %>
                  <%= 3 %>
                 <% elsif sample == schedule_image[0] %>
                  <%= 5 %>
                <% else %>
                  <%= 4 %>
                <% end %>
                days / <i class="far fa-clock"></i>
                <% if sample == schedule_image[2] %>
                  <%= "20-24" %>
                <% elsif sample == schedule_image[1] %>
                  <%= "18-22" %>
                <% else %>
                  <%= "19-23" %>
                <% end %>
                h / <i class="far fa-user"></i> <%= team.invites.accepted.count %> player<% if team.invites.accepted.count > 1 %><%= "s" %><% end %></h6>
              <!-- <p class="card-text text-dark">CORE HOURS</p> -->
              <img src="<%= sample %>" alt="Schedule" style="width:350px;">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
    <div class="tab-pane fade show active" id="team" role="tabpanel" aria-labelledby="team-tab">
      <div class="team-cards-grid container" style="margin-top: -30px">
        <% @users.each do |user| %>
          <div class="p-3 background-gradient-orange mb-3">
            <div class="card-body d-flex card-inner">
              <img src="<%= user.avatar %>" alt="<%= user.username %>" style="height:80px;width:80px;border-radius:50%;">
              <div class="ml-2">
                <p class="card-member-role"><%= user.role %></p>
                <h5 class="card-title"><%= link_to user.username, user_path(user) %>
                 <!--  <a href="<%= user.discord %> " style="color: Mediumslateblue;">
                    <i class="fab fa-discord fa-fw"></i></a> -->
                </h5>
                <%# <h6 class="card-subtitle text-muted mb-2"><%= user.bio %>
                <h6 class="card-subtitle text-muted mb-2"><i class="far fa-calendar"></i>
                <% schedule_image = ["https://p82.f1.n0.cdn.getcloudapp.com/items/P8uk622q/b82d1154-75bb-417b-804a-ac81125756f5.png?source=viewer&v=183e8b6eebbe0bda6043b1aa448e0845", "https://p82.f1.n0.cdn.getcloudapp.com/items/GGu6E75q/fbc8aab0-c3d2-46a4-b623-2512a8cdb545.png?source=viewer&v=36457909afbfe99044472904f0c916c5", "https://p82.f1.n0.cdn.getcloudapp.com/items/rRukNgzq/ff493556-96fb-4b30-9e69-dc6d6a540239.png?source=viewer&v=d2c8a5f3480208e5296a3ce2d3b79bc3"] %>
                <% sample = schedule_image.sample %>
                <% if sample == schedule_image[2] %>
                  <%= 3 %>
                 <% elsif sample == schedule_image[0] %>
                  <%= 5 %>
                <% else %>
                  <%= 4 %>
                <% end %>
                days / <i class="far fa-clock"></i>
                <% if sample == schedule_image[2] %>
                  <%= "20-24" %>
                <% elsif sample == schedule_image[1] %>
                  <%= "18-22" %>
                <% else %>
                  <%= "19-23" %>
                <% end %>
              </h6>
              <img src="<%= sample %>" alt="Schedule" style="width:350px;">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



<%= javascript_tag do %>
  
  let monday_s = []
  let monday_e = []
  let tuesday_s = []
  let tuesday_e = []
  let wednesday_s = []
  let wednesday_e = []
  let thursday_s = []
  let thursday_e = []
  let friday_s = []
  let friday_e = []
  let saturday_s = []
  let saturday_e = []
  let sunday_s = []
  let sunday_e = []

  <%  @teams.each do |team|%>

    monday_start = "<%= j team.monday_start %>";
    monday_end = "<%= j team.monday_end %>";
    tuesday_start = "<%= j team.tuesday_start %>";
    tuesday_end = "<%= j team.tuesday_end %>";
    wednesday_start = "<%= j team.wednesday_start %>";
    wednesday_end = "<%= j team.wednesday_end %>";
    thursday_start = "<%= j team.thursday_start %>";
    thursday_end = "<%= j team.thursday_end %>";
    friday_start = "<%= j team.friday_start %>";
    friday_end = "<%= j team.friday_end %>";
    saturday_start = "<%= j team.saturday_start %>";
    saturday_end = "<%= j team.saturday_end %>";
    sunday_start = "<%= j team.sunday_start %>";
    sunday_end = "<%= j team.sunday_end %>";
    monday_s.push(monday_start)
    monday_e.push(monday_end)
    tuesday_s.push(tuesday_start)
    tuesday_e.push(tuesday_end)
    wednesday_s.push(wednesday_start)
    wednesday_e.push(wednesday_end)
    thursday_s.push(thursday_start)
    thursday_e.push(thursday_end)
    friday_s.push(friday_start)
    friday_e.push(friday_end)
    saturday_s.push(saturday_start)
    saturday_e.push(saturday_end)
    sunday_s.push(sunday_start)
    sunday_e.push(sunday_end)
  <% end %>
<% end %>





<script>


document.addEventListener("DOMContentLoaded", function() {
          displayModalSchedule();
});


          function displayModalSchedule() {
          console.log("hi")
            

          function arrayMaker(element) {

              if (element == "") {
                element = [1, 2, 3, 4, 5, 6, 7]
                }
                if (element == "2000-01-01 17:00:00 UTC") {
                element = [1, 2, 3, 4, 5, 6, 7]
                } else if (element == "2000-01-01 18:00:00 UTC") {
                element = [2, 3, 4, 5, 6, 7]
                } else if (element == "2000-01-01 19:00:00 UTC") {
                element = [3, 4, 5, 6, 7]
                } else if (element == "2000-01-01 20:00:00 UTC") {
                element = [4, 5, 6, 7]
                } else if (element == "2000-01-01 21:00:00 UTC") {
                element = [5, 6, 7]
                } else if (element == "2000-01-01 22:00:00 UTC") {
                element = [6, 7]
                } else if (element == "2000-01-01 23:00:00 UTC") {
                element = [7]
                }
                return element
                }
            function arrayMakerEnd(element) {
                if (element == "") {
                element = []
                }
                if (element == "2000-01-01 23:00:00 UTC") {
                element = [1, 2, 3, 4, 5, 6, 7]
                } else if (element == "2000-01-01 22:00:00 UTC") {
                element = [1, 2, 3, 4, 5, 6]
                } else if (element == "2000-01-01 21:00:00 UTC") {
                element = [1, 2, 3, 4, 5]
                } else if (element == "2000-01-01 20:00:00 UTC") {
                element = [1, 2, 3, 4]
                } else if (element == "2000-01-01 19:00:00 UTC") {
                element = [1, 2, 3]
                } else if (element == "2000-01-01 18:00:00 UTC") {
                element = [1, 2]
                } else if (element == "2000-01-01 17:00:00 UTC") {
                element = [1]
                }
                return element
                }
                monday_s = monday_s.map(arrayMaker)
                tuesday_s = tuesday_s.map(arrayMaker)
                wednesday_s = wednesday_s.map(arrayMaker)
                thursday_s = thursday_s.map(arrayMaker)
                friday_s = friday_s.map(arrayMaker)
                saturday_s = saturday_s.map(arrayMaker)
                sunday_s = sunday_s.map(arrayMaker)
                monday_e = monday_e.map(arrayMakerEnd)
                tuesday_e = tuesday_e.map(arrayMakerEnd)
                wednesday_e = wednesday_e.map(arrayMakerEnd)
                thursday_e = thursday_e.map(arrayMakerEnd)
                friday_e = friday_e.map(arrayMakerEnd)
                saturday_e = saturday_e.map(arrayMakerEnd)
                sunday_e = sunday_e.map(arrayMakerEnd)
                let notDups = []
                function grayerArrayGetter(array1, array2) {
                let count = 0
                for (console.log("runnin loop"); count < array1.length; count ++) {
              console.log(count)

              console.log(array1[count])
              console.log(array2[count])
              if (notDups.length > count) {
                  notDups = []
                  }
                  let grayerStart = array1[count].filter(val => !array2[count].includes(val));
                  let grayerEnd = array2[count].filter(val => !array1[count].includes(val));
                  let grayerArray = grayerEnd.concat(grayerStart);
                  console.log(grayerArray)
                  notDups.push(grayerArray)
                  }
                  return notDups
                  }
                  // need to gray out these squares. Each time it grays it it makes it less green.
                  // when second click is registered, it removes these classes for the row that was clicked.
                  let notDupsMonday = grayerArrayGetter(monday_s, monday_e);
                  let notDupsTuesday = grayerArrayGetter(tuesday_s, tuesday_e);
                  let notDupsWednesday = grayerArrayGetter(wednesday_s, wednesday_e);
                  let notDupsThursday = grayerArrayGetter(thursday_s, thursday_e);
                  let notDupsFriday = grayerArrayGetter(friday_s, friday_e);
                  let notDupsSaturday = grayerArrayGetter(saturday_s, saturday_e);
                  let notDupsSunday = grayerArrayGetter(sunday_s, sunday_e);
                  let grayedTimes = 0
                  //THIS WILL MAKE OBJECTS GREYER
                  function greenifyerMon(arrayElement) {
                  grayedTimes = 0
                  if (!mondaySquares1[arrayElement-1].classList.contains("grayout")) {
                  mondaySquares1[arrayElement-1].classList.add("grayout")
                  mondaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (mondaySquares1[arrayElement-1].classList.contains("grayout") && !mondaySquares1[arrayElement-1].classList.contains("grayout2")){
                  mondaySquares1[arrayElement-1].classList.add("grayout2")
                  mondaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (mondaySquares1[arrayElement-1].classList.contains("grayout2")){
                  mondaySquares1[arrayElement-1].classList.add("grayout3")
                  mondaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (mondaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyerTue(arrayElement) {
                  grayedTimes = 0
                  if (!tuesdaySquares1[arrayElement-1].classList.contains("grayout")) {
                  tuesdaySquares1[arrayElement-1].classList.add("grayout")
                  tuesdaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (tuesdaySquares1[arrayElement-1].classList.contains("grayout") && !tuesdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  tuesdaySquares1[arrayElement-1].classList.add("grayout2")
                  tuesdaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (tuesdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  tuesdaySquares1[arrayElement-1].classList.add("grayout3")
                  tuesdaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (tuesdaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyerWed(arrayElement) {
                  grayedTimes = 0
                  if (!wednesdaySquares1[arrayElement-1].classList.contains("grayout")) {
                  wednesdaySquares1[arrayElement-1].classList.add("grayout")
                  wednesdaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (wednesdaySquares1[arrayElement-1].classList.contains("grayout") && !wednesdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  wednesdaySquares1[arrayElement-1].classList.add("grayout2")
                  wednesdaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (wednesdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  wednesdaySquares1[arrayElement-1].classList.add("grayout3")
                  wednesdaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (wednesdaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyerThur(arrayElement) {
                  grayedTimes = 0
                  if (!thursdaySquares1[arrayElement-1].classList.contains("grayout")) {
                  thursdaySquares1[arrayElement-1].classList.add("grayout")
                  thursdaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (thursdaySquares1[arrayElement-1].classList.contains("grayout") && !thursdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  thursdaySquares1[arrayElement-1].classList.add("grayout2")
                  thursdaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (thursdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  thursdaySquares1[arrayElement-1].classList.add("grayout3")
                  thursdaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (thursdaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyerFri(arrayElement) {
                  grayedTimes = 0
                  if (!fridaySquares1[arrayElement-1].classList.contains("grayout")) {
                  fridaySquares1[arrayElement-1].classList.add("grayout")
                  fridaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (fridaySquares1[arrayElement-1].classList.contains("grayout") && !fridaySquares1[arrayElement-1].classList.contains("grayout2")){
                  fridaySquares1[arrayElement-1].classList.add("grayout2")
                  fridaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (fridaySquares1[arrayElement-1].classList.contains("grayout2")){
                  fridaySquares1[arrayElement-1].classList.add("grayout3")
                  fridaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (fridaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyerSat(arrayElement) {
                  grayedTimes = 0
                  if (!saturdaySquares1[arrayElement-1].classList.contains("grayout")) {
                  saturdaySquares1[arrayElement-1].classList.add("grayout")
                  saturdaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (saturdaySquares1[arrayElement-1].classList.contains("grayout") && !saturdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  saturdaySquares1[arrayElement-1].classList.add("grayout2")
                  saturdaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (saturdaySquares1[arrayElement-1].classList.contains("grayout2")){
                  saturdaySquares1[arrayElement-1].classList.add("grayout3")
                  saturdaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (saturdaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyerSun(arrayElement) {
                  grayedTimes = 0
                  if (!sundaySquares1[arrayElement-1].classList.contains("grayout")) {
                  sundaySquares1[arrayElement-1].classList.add("grayout")
                  sundaySquares1[arrayElement-1].classList.remove("data-class")
                  grayedTimes = 1
                  } else if (sundaySquares1[arrayElement-1].classList.contains("grayout") && !sundaySquares1[arrayElement-1].classList.contains("grayout2")){
                  sundaySquares1[arrayElement-1].classList.add("grayout2")
                  sundaySquares1[arrayElement-1].classList.remove("grayout")
                  grayedTimes = 2
                  } else if (sundaySquares1[arrayElement-1].classList.contains("grayout2")){
                  sundaySquares1[arrayElement-1].classList.add("grayout3")
                  sundaySquares1[arrayElement-1].classList.remove("grayout2")
                  grayedTimes = 3
                  } else if (sundaySquares1[arrayElement-1].classList.contains("grayout3")){
                  grayedTimes = 100
                  } else {
                  grayedTimes = 0
                  }
                  // OUTSIDE OF ITERATION MAKE ALL SQUARES HAVE A DEFAULT SUPER GREEN/PERFECT MATCH CLASS.
                  }
                  function greenifyer1Mon(array) {
                  array.forEach(greenifyerMon)
                  }
                  function greenifyer1Tue(array) {
                  array.forEach(greenifyerTue)
                  }
                  function greenifyer1Wed(array) {
                  array.forEach(greenifyerWed)
                  }
                  function greenifyer1Thur(array) {
                  array.forEach(greenifyerThur)
                  }
                  function greenifyer1Fri(array) {
                  array.forEach(greenifyerFri)
                  }
                  function greenifyer1Sat(array) {
                  array.forEach(greenifyerSat)
                  }
                  function greenifyer1Sun(array) {
                  array.forEach(greenifyerSun)
                  }
                  notDupsMonday.forEach(greenifyer1Mon)
                  notDupsTuesday.forEach(greenifyer1Tue)
                  notDupsWednesday.forEach(greenifyer1Wed)
                  notDupsThursday.forEach(greenifyer1Thur)
                  notDupsFriday.forEach(greenifyer1Fri)
                  notDupsSaturday.forEach(greenifyer1Sat)
                  notDupsSunday.forEach(greenifyer1Sun)
                  }
</script>
<%# 
  if (event.currentTarget.classList.contains(“0”)) {
    let index = 0
  } else if (event.currentTarget.classList.contains(“1”)) {
    let index = 1
  } else if (event.currentTarget.classList.contains(“2”)) {
    let index = 2
  } else if (event.currentTarget.classList.contains(“3”)) {
    let index = 3
  } else if (event.currentTarget.classList.contains(“4”)) {
    let index = 4
  } else if (event.currentTarget.classList.contains(“5”)) {
    let index = 5
  } else if (event.currentTarget.classList.contains(“6”)) {
    let index = 6
  } else if (event.currentTarget.classList.contains(“7”)) {
    let index = 7
  } %>
