<%# <div class="container text-white mt-3 pt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 modal-body np-3 background-gradient-events">
      <div class="form-login"> %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6 p-3 blue">
        <%= simple_form_for (@team)  do |f| %>
          <%= f.input :name %>
          <%= f.input :bio %>
          <%= f.input :avatar, as: :file %>
          <%= f.input :discord %>
          <%= f.label "Status:" %>
          <%= f.collection_radio_buttons :status, [[1, '⠀Open to Public‎‎‎⠀'], [0, '⠀Closed']], :first, :last %>
          <%= f.association :game, input_html: { class: 'multiple-select'} %>
          <%= f.submit "Create team", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<%# </div> %>

<style>
  .bg-blue {
    background-color: #b1b1dc;
    border-radius: 5px;
  }
</style>
