<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p82.f1.n0.cdn.getcloudapp.com/items/YEuXB4Pj/725a5ca9-290c-406a-99ce-3f3aea2529ae.png?source=viewer&v=733bc8b84c6772f52aaef17de2a7035f);">
    <div class="container">
      <div class="card-product p-1 text-left" style="background-color:transparent;">
        <img src="<%= @team.avatar %>" alt="<%= @team.name %>" style="margin-top:-30px;border-radius:50%;">
        <div style="margin-left: 16px">
          <h2><%= @team.game.title %></h2>
          <h1><%= @team.name %></h1>
          <p><%= @team.bio %></p>
          <%# <h5 class="text-white">(Core Hours HERE)</h5> %>
        </div>
      </div>
    </div>
  </div>
  <!-- restaurant menu / checkout-->
  <div class="container py-3" style="margin-top: -30px">
    <div class="row justify-content-around">
      <div class="col-md-6">
        <div class="p-3 background-gradient-schedule">
          <h2 class="card-outer-header"><i class="far fa-calendar pr-1"></i> SCHEDULE</h2>
          <div class="text-white text-left p-3 card-inner card-inner-header card">
            <h2>Weekly</h2>
            <p><%= @team.name %> generally hold their events five times per week.</p>
            <img style="background-color:black;height:auto;width:370px;" src="https://p82.f1.n0.cdn.getcloudapp.com/items/P8uk622q/b82d1154-75bb-417b-804a-ac81125756f5.png?source=viewer&v=183e8b6eebbe0bda6043b1aa448e0845" alt=""><br>
            <br>
            <h2>Core Hours</h2>
            <p>All events happen during the evening hour of the day between 19:00 and 23:00 JST</p>
          </div>
        </div>
        <br>
        <div class="p-3 background-gradient-events">
          <h2 class="card-outer-header"><i class="far fa-calendar-check pr-1"></i>  UPCOMING EVENTS</h2>
          <% @team.events.each do |event| %>
            <div class="card-category text-white text-left" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://attractionsmagazine.com/wp-content/uploads/2017/08/DFnGmYxUIAI-qqF-copy.jpg)">
              <h4 class="text-right truncate" style="font-weight:bolder;"><%= event.description %></h4>
              <br>
              <% if event.day == 1 %>
                <h4> <i class="far fa-calendar"></i> Sunday, <%= event.start_time.strftime("%h 4") %></h4>
              <% elsif event.day == 2 %>
                <h4> <i class="far fa-calendar"></i> Monday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 3 %>
                <h4> <i class="far fa-calendar"></i> Tuesday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 4 %>
                <h4> <i class="far fa-calendar"></i> Wedesday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 5 %>
                <h4> <i class="far fa-calendar"></i> Thursday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 6 %>
                <h4> <i class="far fa-calendar"></i> Friday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 7 %>
                <h4> <i class="far fa-calendar"></i> Saturday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% end %>
              <h4><i class="far fa-clock"></i> <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M") %> JST</h4>
              <%# Name and Description are reversed until seed is updated %>
              <h6 class="truncate"><%= event.name %></h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 background-gradient-recruitment">
          <h2 class="card-outer-header"><i class="fas fa-user-friends pr-1"></i> RECRUITMENT</h2>
          <div class="p-3 text-left card-inner card">
            <p>We are currently open for recruitment and are looking for all classes. All members are required to be available at least three times per week for two to three hours.</p>
            <%# <div class="p-3"> %>
            <a href="<%= @team.discord %> " style="color: Mediumslateblue;"><i class="fab fa-discord fa-fw"></i>Discord</a><br>
            <br>
            <% if @team.status == 0 %>
              <%= link_to "CURRENTLY FULL", '#', class: "btn btn-warning mr-3 disabled btn-block", style:"font-weight:bold;border-radius:0.4em;" %>
            <% else %>
              <%= link_to "APPLY TO JOIN", teams_path, class: "btn btn-warning mr-3 btn-block", style:"font-weight:bold;border-radius:0.4em;" %>
            <% end %>
          </div>
        </div>
        <br>
        <div class="p-3 background-gradient-members">
          <h3 class="card-outer-header"><i class="fas fa-user-friends  pr-1"></i> MEMBERS</h3>
          <% @accepted_member.each do |invite| %>
            <div class="card-product-two text-left" style="border-radius:4px;">
              <img style="border-radius:50%;height:200px;width:200px;" src="<%= invite.user.avatar %>" alt="<%= invite.user.username %>">
              <div class="card-product-infos">
                <h4><%= link_to invite.user.username, user_path(invite.user) %></h4>
                <%# <h6><%= invite.user.bio %>
                <%= link_to "Discord", invite.user.discord %>
                <p>Role: <%= invite.user.role %></p>
              </div>
            </div>
            <br>
          <% end %>
        </div>
        <br>
        <div class="p-3" style="border-radius:4px; background-color:black;">
          <h3 class="text-white text-left"><i class="fas fa-user-friends pr-1"></i> APPLICANTS</h3>
          <% @pending_member.each do |invite| %>
            <div class="card-product-two text-left" style="border-radius:4px;">
              <img style="border-radius:50%;height:200px;width:200px;" src="<%= invite.user.avatar %>" alt="<%= invite.user.username %>">
              <div class="card-product-infos">
                <h4><%= link_to invite.user.username, user_path(invite) %></h4>
                <%# <h6><%= invite.user.bio %>
                <%= link_to "Discord", invite.user.discord %>
                <p>Role: <%= invite.user.role %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

