<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p82.f1.n0.cdn.getcloudapp.com/items/z8uPkGGl/328044d4-4261-4504-9180-a186a4e4da69.png?source=viewer&v=fd4347d446157343d0fd613237fd6d8d);">
    <div class="container">
      <div class="card-product p-1" style="background-color:transparent;">
        <img src="<%= @team.avatar %>" alt="<%= @team.name %>">
        <div>
          <h5 class="text-warning"><%= @team.game.title %></h5>
          <h4 class="mt-1 text-white" style="font-weight:bolder;"><%= @team.name %></h4>
          <h6 class="text-secondary"><%= @team.bio %></h6>
          <%# <h5 class="text-white">(Core Hours HERE)</h5> %>
        </div>
      </div>
    </div>
  </div>

  <!-- restaurant menu / checkout-->
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <div class="bg-warning p-3" style="border-radius:4px;">
          <h2 class="text-white">SCHEDULE</h2><br>
          <h3 class="text-white">Weekly</h3>
          <p><%= @team.name %> generally hold their events five times per week.</p>
          <h3 class="text-white">Core Hours</h3>
          <p>All events happen during the evening hour of the day between 19:00 and 23:00 JST</p>
        </div><br>
        <div class="bg-warning p-3" style="border-radius:4px;">
          <h2 class="text-white">UPCOMING EVENTS</h2>
          <% @team.events.each do |event| %>
            <div class="card-category text-white" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://attractionsmagazine.com/wp-content/uploads/2017/08/DFnGmYxUIAI-qqF-copy.jpg)">
              <h4 class="text-right" style="font-weight:bolder;"><%= event.description %></h4>
              <% if event.day == 1 %>
                <h4> <i class="far fa-calendar"></i> Sunday, <%= event.start_time.strftime("%h 4") %></h4>
              <% elsif event.day == 2 %>
                <h4> <i class="far fa-calendar"></i> Monday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 3 %>
                <h4> <i class="far fa-calendar"></i> Tuesday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 4 %>
                <h4> <i class="far fa-calendar"></i> Wedesday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 5 %>
                <h4> <i class="far fa-calendar"></i> Thursday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 6 %>
                <h4> <i class="far fa-calendar"></i> Friday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% elsif event.day == 7 %>
                <h4> <i class="far fa-calendar"></i> Saturday, <%= event.start_time.strftime("%h 4") %> </h4>
              <% end %>
              <h4><i class="far fa-clock"></i> <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M") %> JST</h4>
              <%# Name and Description are reversed until seed is updated %>
              <h6><%= event.name %></h4>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="bg-warning p-3" style="border-radius:4px;">
        <h2>RECRUITMENT</h2>
          <div class="bg-white p-3">
            <h3>Recruitment</h3>
            <p>We are currently open for recruitment and are looking for all classes. All members are required to be available at least three times per week for two to three hours.</p>
            <%# <div class="p-3"> %>
            <a href="<%= @team.discord %> " style="color: Mediumslateblue;"><i class="fab fa-discord fa-fw"></i>Discord</a><br><br>
            <% if @team.status == 0 %>
              <%= link_to "CURRENTLY FULL", '#', class: "btn btn-warning mr-3 disabled btn-block", style:"font-weight:bold;border-radius:0.4em;" %>
            <% else %>
              <%= link_to "APPLY TO JOIN", '#', class: "btn btn-warning mr-3 btn-block", style:"font-weight:bold;border-radius:0.4em;" %>
            <% end %>
          </div>
        </div><br>


        <div class="bg-warning p-3" style="border-radius:4px;">
          <h3>Members:</h3>
          <% @accepted_member.each do |invite| %>
            <div class="card-product-two">
              <img src="<%= invite.user.avatar %>" alt="<%= invite.user.username %>">
              <div class="card-product-infos">
                <h4><%= link_to invite.user.username, user_path(invite) %></h4>
                <%# <h6><%= invite.user.bio %>
                <%= link_to "Discord", invite.user.discord %>
                <p>Role: <%= invite.user.role %></p>
              </div>
            </div><br>
          <% end %>
        </div>

        <div class="bg-warning p-3" style="border-radius:4px;">
          <h3>Applicants:</h3>
          <% @pending_member.each do |invite| %>
            <div class="card-product-two">
              <img src="<%= invite.user.avatar %>" alt="<%= invite.user.username %>">
              <div class="card-product-infos">
                <h4><%= link_to invite.user.username, user_path(invite) %></h4>
                <%# <h6><%= invite.user.bio %>
                <%= link_to "Discord", invite.user.discord %>
                  <p>Role: <%= invite.user.role %></p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>

</div>
