<h1>edit form here</h1>

<div class="container edit-profile-container">
  <div class="row justify-content-center">
    <div class="col-xl-6 lg-6">
      <h2 class="profile-details-h2">Set your profile</h2>

      <%= simple_form_for @user, url: user_path(@user) do |f| %>
        <%= f.input :nickname %>
        <%= f.input :bio %>
        <%= f.input :discord %>
        <%= f.input :role, collection: @roles%>
    </div>

    <div class="col-xl-6 lg-6">
      <h2 class="schedule-title-h2">Set your schedule</h2>
      <div class="container">
      <div class="schedule-grid">
        <div class="col-xl-12 lg-12">
          <div class="hours d-flex">
            <%# <p>10am</p>
            <p>11am</p>
            <p>12</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p> %>
          </div>
          <div class="days">
          <p class="monday">M</p>
          <p class="tuesday">T</p>
          <p class="wednesday">W</p>
          <p class="thursday">TH</p>
          <p class="friday">F</p>
          <p class="saturday">SAT</p>
          <p class="sunday">SUN</p>
          </div>
          <div class="monday-squares" id="monday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>
          <div class="tuesday-squares" id="tuesday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>
          <div class="wednesday-squares" id="wednesday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>
          <div class="thursday-squares" id="thursday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>
          <div class="friday-squares" id="friday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>
          <div class="saturday-squares" id="saturday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>
          <div class="sunday-squares" id="sunday-squares">
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 0", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 1", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 2", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 3", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 4", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 5", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 6", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>

            <%= button_tag type: 'button', class: "btn shadow-none grid-square 7", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 8", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 9", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 10", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 11", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 12", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
            
            <% end %>
            <%= button_tag type: 'button', class: "btn shadow-none grid-square 13", :onclick => "buttontoggle()", :onmouseover => "hover()", :onmouseout => "hoveroff()" do %>
                
            <% end %>
          </div>


          </div>
        </div>
      </div>
      </div>
    </div>
        <div>
          <%= f.button :submit, "Confirm details", class: "btn-lg btn-dark edit-profile-button" %>
        </div>
      <% end %>

  <script>
    const mondaySquares = document.getElementById("monday-squares").querySelectorAll("button");
    const tuesdaySquares = document.getElementById("tuesday-squares").querySelectorAll("button");
    const wednesdaySquares = document.getElementById("wednesday-squares").querySelectorAll("button");
    const thursdaySquares = document.getElementById("thursday-squares").querySelectorAll("button");
    const fridaySquares = document.getElementById("friday-squares").querySelectorAll("button");
    const saturdaySquares = document.getElementById("saturday-squares").querySelectorAll("button");
    const sundaySquares = document.getElementById("sunday-squares").querySelectorAll("button");
    let firstClickedDown = 50
    let firstClickedUp = -50
    let currentSquareHovered = null
    let currentSquareHoveredIndexDown = 50
    let currentSquareHoveredIndexUp = -50

    function clickchecker(square) {
      if (square.classList.contains("clicked-square")) {
         square.classList.add("first-selection")
      }
    }

    function goingupRangemaker(square,index) {
      if (firstClickedUp > index && index > currentSquareHoveredIndexDown) {
            square.classList.add("range-connecter");
        }
    }


    function rangemaker(square, index) {

        var parent = event.currentTarget.parentElement;
       
        if (square.classList.contains("clicked-square")) {
          firstClickedDown = index
          firstClickedUp = index
          console.log(firstClickedUp)

        }

        if (currentSquareHovered.classList.contains("0")) {
          currentSquareHoveredIndexDown = 0
        } else if (currentSquareHovered.classList.contains("1")) {
          currentSquareHoveredIndexDown = 1
        } else if (currentSquareHovered.classList.contains("2")) {
          currentSquareHoveredIndexDown = 2
        } else if (currentSquareHovered.classList.contains("3")) {
          currentSquareHoveredIndexDown = 3
        } else if (currentSquareHovered.classList.contains("4")) {
          currentSquareHoveredIndexDown = 4
        } else if (currentSquareHovered.classList.contains("5")) {
          currentSquareHoveredIndexDown = 5
        } else if (currentSquareHovered.classList.contains("6")) {
          currentSquareHoveredIndexDown = 6
        } else if (currentSquareHovered.classList.contains("7")) {
          currentSquareHoveredIndexDown = 7
        } else if (currentSquareHovered.classList.contains("8")) {
          currentSquareHoveredIndexDown = 8
        } else if (currentSquareHovered.classList.contains("9")) {
          currentSquareHoveredIndexDown = 9
        } else if (currentSquareHovered.classList.contains("10")) {
          currentSquareHoveredIndexDown = 10
        } else if (currentSquareHovered.classList.contains("11")) {
          currentSquareHoveredIndexDown = 11
        } else if (currentSquareHovered.classList.contains("12")) {
          currentSquareHoveredIndexDown = 12
        } else if (currentSquareHovered.classList.contains("13")) {
          currentSquareHoveredIndexDown = 13
        }
        console.log(index, firstClickedUp, currentSquareHoveredIndexDown)

        if (firstClickedDown < index && index < currentSquareHoveredIndexDown)  {
            square.classList.add("range-connecter");
            console.log(currentSquareHovered)
        } 

       parent.querySelectorAll("button").forEach(goingupRangemaker);
    }
    

    function rangedestroyer(square) {
        if (!square.classList.contains("clicked-square")) {
          square.classList.remove("range-connecter");
        }
    }

    function hover() {
        currentSquareHovered = event.currentTarget
        var parent = event.currentTarget.parentElement;
        parent.querySelectorAll("button").forEach(rangemaker);
       
        
    
    }


    function hoveroff() {
      var parent = event.currentTarget.parentElement;
      alreadyClicked= false
      parent.querySelectorAll("button").forEach(rangedestroyer);
      firstClickedDown = 50
      firstClickedUp = -50
      console.log(firstClickedUp)
      
      
    }

    
    function buttontoggle() {
      var parent = event.currentTarget.parentElement;
      parent.querySelectorAll("button").forEach(clickchecker)
      event.currentTarget.classList.toggle("clicked-square");
      event.currentTarget.classList.remove("not-clicked");

      if (event.currentTarget.nextElementSibling.classList.contains("clicked-square") && event.currentTarget.previousElementSibling.classList.contains("clicked-square")) {
        event.currentTarget.classList.add("clicked-square")
      }
      
    }
    </script>
  </div>
</div>

