<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to teams_path, class: "navbar-brand" do %>
      <%= image_tag "https://p82.f1.n0.cdn.getcloudapp.com/items/jkuemAkP/07e64844-89e7-490b-8de1-b72f5e454581.png?source=viewer&v=a0eed5c68887fe2b540d8464adc6599e", style:"height:37px;width:300px;" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <% invite = Invite.find_by(user_id: current_user.id) %>
          <% if invite.nil? || invite.status == 0 || invite.status == 2 %>
              <%= link_to "FIND A TEAM", teams_path, class: "btn btn-outline-warning mr-3", style:"font-weight:bold;border-radius:0.4em;" %>
            <% elsif !current_user.team_id.nil? %>
              <%= link_to "MY TEAM", team_path(current_user.team_id), class: "btn btn-outline-warning mr-3", style:"font-weight:bold;border-radius:0.4em;" %>
            <% else %>
              <%= link_to "MY TEAM", team_path(Invite.find_by(user_id: current_user.id).team_id), class: "btn btn-outline-warning mr-3", style:"font-weight:bold;border-radius:0.4em;" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://pp.userapi.com/c845420/v845420005/198a42/Ne3gNlRtYcI.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%# teams index, profile (users/80), edit schedule (user/id/edit_schedule) %>
