<!DOCTYPE html>
<html>
  <head>
    <title>Clanparty - Find people to raid with!</title>

    <meta charset="utf-8">
    <meta name=“description” content="Clanparty - Find people to raid with on your schedule!">
    <meta name=“keywords” content="Nick Roma, Nicholas Roma, Jacob Iyamu, David Smith, Lawrence Kroll, Ruby on Rails, HTML, CSS, JavaScript">
    <meta name=“author” content="Nick Roma, Jacob Iyamu, David Smith, Lawrence Kroll">

    <meta property="og:title" content="Clanparty">
    <meta property="og:description" content="Clanparty - Find people to raid with on your schedule!">
    <meta property="og:image" content="https://live.staticflickr.com/65535/51024860758_8e8ce7268d.jpg">
    <meta property="og:url" content="http://www.clanparty.net">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="Clanparty">
    <meta name="twitter:image:alt" content="Clanparty">

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body style="background-color:#080808;text-align:left">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
